<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <div class="center">
        <h1>Reset Password</h1>
        <form id="login-form" method="post">
            <center><small><span id="error" style="color: red"></span></small></center>
            <div class="txt-field">
                <input type="text" id="login-email" name="inputotp">
                <label>Enter OTP</label>
                <span></span>
            </div>
            <div class="temp">
                <input type="submit" value="Check" id="login-button">
            </div>
        </form>
    </div>
</body>
</html>